@use "utilities/variables" as *;

html {
    background-image: $background;
}


// CRT effect
body {
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

html::before {
  content: " ";
  display: block;
  position: fixed; 
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: 
    linear-gradient(rgba(255, 255, 255, 0.063) 5%, rgba(0, 0, 0, 0.06) 10%),
    linear-gradient(90deg, rgba(255, 0, 0, 0.09), rgba(0, 255, 0, 0.03), rgba(0, 0, 255, 0.09));
  background-size: 100% 2px, 3px 100%;
  z-index: 9999; 
  pointer-events: none;
}

@media print {
 html {
    background-image: none;
  }
}
