@use "utilities" as *;


.header {
    display: flex;
    height: $space-double * 4;
    background-color: $grey-4;
    margin-left: -$space-double;
    margin-right: -$space-double;
    margin-top: -$space-double;
    margin-bottom: $space-double;
    padding: $space-base;
    line-height: 1;
}

.page-title {
    margin-top: $space-base + $space-half; // WHY?
    margin-left: $space-base;
    margin-bottom: $space-base;
    font-weight: $weight-bold;
    font-size: $font-size-medium;
}

.page-back {
    font-size: $font-size-large;
    margin-left: auto;
    padding-top: $space-base + 1px; // This is stupid, I'm never using font scaling again.
    padding-right: $space-base;
    text-align: right;
}

@media (max-width: $mobile-threshold) {
    .page-title {
        font-weight: $weight-light !important;
    }
} 